<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DefaultSaveLocation" value="C:\DmHelper\"/>
    <add key="IsFirstTimeStartUp" value="true"/>
  </appSettings>
</configuration>